body
{
    background-color: darkgray;
}

table
{
    text-align: center;
    align-content: center;
}

h1
{
    text-align: center;
}

tr
{
    text-align: center;
}

td
{
    text-align: center;
}

form
{
    text-align: center;
}