body
{
    background-image:  url('Fondecrans/Fond1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%
}

header
{
 text-align: center;
 color: rgb(18, 28, 119);
 background-color: rgba(255, 0, 0, 0.418);
 font-size: 45px;
 font-family: 'Times New Roman', Times, serif;
 margin-left: 10cm;
}

section
{
    align-content: center;
    margin-left: 18%;
}
table
{
    align-content: center;
    margin-bottom: 2cm; 
    margin-left: 10px;
    border: rgba(25, 23, 44, 0.418);
    color: rgba(255, 255, 255, 0.493);
    font-size: 1cm;
    
}

aside
{
    font-size: 1cm;
}

